SHOPIFY_MYSHOPIFY_DOMAIN=
SHOPIFY_ADMIN_TOKEN=
SHOPIFY_API_VERSION=2025-01
PRIMARY_DOMAIN=bakabo.club

PRINTIFY_API_TOKEN=
PRINTIFY_SHOP_ID=
PRINTIFY_SHOP_TITLE=bakabo.club

GOOGLE_MERCHANT_ID=
GOOGLE_MERCHANT_STATUS=suspended
GOOGLE_MERCHANT_REASON=misrepresentation
GTM_TARGET=GTM-PF5Z85KS
GA4_PROPERTY_ID=

OPENAI_API_KEY=
OPENAI_PROJECT_ID=
OPENAI_ORGANIZATION_ID=
OPENAI_CHATGPT_PROJECT_URL=
OPENAI_VECTOR_STORE_ID=
OPENAI_DEFAULT_MODEL=
OPENAI_REALTIME_ENABLED=false
HEYGEN_API_KEY=
HEYGEN_AVATAR_ID=
HEYGEN_VOICE_ID=
HYPERFRAMES_API_KEY=
HYPERFRAMES_PROJECT_ID=
HYPERFRAMES_DEFAULT_FORMAT=1080x1920
CANVA_API_KEY=

YOUTUBE_CHANNEL_ID=
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_REFRESH_TOKEN=

MAKE_WEBHOOK_URL=
MAKE_WEBHOOK_SECRET=

OFFICIAL_INBOX_EMAIL=crew@bakabo.club
OFFICIAL_INBOX_IMAP_HOST=
OFFICIAL_INBOX_IMAP_USER=
OFFICIAL_INBOX_IMAP_PASSWORD=
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
NETWORK_DKIM_SELECTORS=google

AGENT_AUTONOMY_LEVEL=supervised
AGENT_CUSTOMER_CHAT_ENABLED=false
BKS_ASSISTANT_THEME_ENABLED=false
BKS_ASSISTANT_PUBLIC_ENDPOINT=
BKS_ASSISTANT_PUBLIC_TOKEN=
